/* Your button CSS file */
.btn-signup {
  height: 35px;
  color: white;
  background-color: black;
  margin-left: 5px;
  border-radius: 4px;
  border: none;
  width: 80px;
}

.btn-signup:hover {
  background-color: rgb(59, 58, 58);
}

.btn-medium {
  background-color: #9eb3cd;
  color: white;
  width: 100px;
  height: 80px;
  padding: 12px;
  border-radius: 8px;
}

.btn-medium:hover {
  background-color: #407dc6;
}

.btn-treehouse {
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,91,1) 35%, rgba(255,237,0,1) 100%);
  color: white;
  font-size: 18px;
  padding: 15px 32px;
  border-radius: 4px;
}

.btn-treehouse:hover {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.btn-yours {
  background-color: #FF3F00;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 80%;
  border-style: solid;
  border-color: #FF3F00;
  border-width: 2px;
}
.btn-yours:hover {
  color: #FF3F00;
  background-color: rgb(248, 221, 221);
  border-style: solid;
  border-color: #FF3F00;
  border-width: 2px;
}
