/* Your card CSS file */
.card-container {
  display: flex;
  justify-content: space-between;
}

.card-category {
  display: flex;
  width: 300px;
  height: 220px;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 5px 20px rgb(0 0 0 / 30%);
}

.card-category:hover {
  background: rgba(162, 220, 177, 0.961);
  background-blend-mode: overlay;
}

.card-category h2 {
  margin: auto;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.card-product {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  width: 250px;
  height: 300px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
  position:relative;
}

.card-product:hover {
  box-shadow: 0px 2px 10px rgb(0 0 0 / 50%);
}

.card-product img {
  height: 220;
  width: 100%;
}

.card-product-desc {
  position: absolute;
  top: 220px;
  margin: 10px;
  max-width: 80%;
}

.card-product-price {
  position: absolute;
  text-align: right;
  bottom: 10;
  right: 10;
}

.card-product > div > h2 {
  font-size: 14px;
  margin: 0px;
}

.card-product > div > p {
  font-size: 10px;
}

.card-trip {
  display: flex;
  background-color: white;
  width: 400px;
  height: 300px;
  position: relative;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
}

.card-trip img {
  width: 100%;
  height: 230px;
}

.card-trip-border {
  position: absolute;
  width: 396px;
  height: 70px;
  top: 230px;
}

.card-trip-border:hover {
  border: 3px solid rgb(197, 38, 38);
}

.card-trip-text {
  max-width: 80%;
  justify-content: center;

  margin: 10px;
}

.card-trip-price {
  position: absolute;
  right: 20;
  bottom: 20;
  max-width: 100%;
}
.card-trip > div > div > h2 {
  font-size: 16px;
  margin: 0px;
  color: rgb(44, 44, 115);
}

.card-trip > div > div > p {
  font-size: 10px;
  margin-top: 3;
}
