.footer {
  background-color: #95B2B0;
  width: 100%;
  height: 250px;
  display: flex;
  margin-top: 30px;
  padding-top: 20px;
}

.footer-form {
  margin-left: 100px;
  width: 500px;
}

input[type=text] {
  width: 200px;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  background-color: rgb(243, 243, 240);
  border-radius: 4px;
}
